body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #1E90FF;
    color: white;
    padding: 10px;
    border-bottom-right-radius: 11%;
    border-bottom-left-radius: 11%;

}

.menu-icon {
    width: 30px;
    height: 30px;
    background-color: black;
    border-radius: 5px;
}

.content {
    margin: 20px auto;
    max-width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: safe;
}

.moving-background{
    background-color: #3a3a3a;
    border-radius: 2%;
    color: whitesmoke;
    width: 25%;
}

.section {
}

.section h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.section p {
    font-size: 16px;
    line-height: 1.5;
}

.section_projects {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 0;
}
.project {
    color: #3a3a3a;
    transition: transform .2s ;
    display: flex;
    justify-content: space-evenly;
}

#gauche.project  {
    margin-top: 6%;
    flex-direction: row;
}



#droite.project  {
    margin-top: 6%;
    flex-direction: row-reverse;
}

.project_preview {
    border-radius: 10px;
    overflow: hidden;
    flex-wrap: left;
    width: 45%;
    height: auto;
    
}


.project:hover {
    color: black;
    transform: scale(1.1);
    z-index: 10;
}

 .project_text {
    

}


a, a:visited, a:hover, a:active {
    color: inherit;
    text-decoration: none;
}

footer {
    background-color: #1E90FF;
    color: white;
    margin-top : 3%;
    text-align: center;
}