@import url('https://fonts.googleapis.com/css2?family=Doto:wght,ROND@900,100&display=swap');

:root { 
    --neon-color: rgba(47, 119, 231, 0.6);
    --neon-glow:rgba(47, 119, 231, 0.4);
    --box-background: rgb(11, 1, 41);
}

a, a:visited, a:hover, a:active {
    color: inherit;
    text-decoration: none;
}


.keyword-blue {
    color: rgb(104, 213, 230);
    font-weight: bold;
}

.keyword-orange {
    color: rgb(255, 175, 83);
    font-weight: bold;
}

.keyword-green {
    color: rgb(140, 237, 140);
    font-weight: bold;
}

.keyword-red{
    color: rgb(243, 95, 95);
    font-weight: bold;
}

body {
    font-family: "Doto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings: "ROND" 100;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(90deg, rgb(7, 5, 13) 0%, rgb(20, 17, 101) 20%, rgb(38,17,101) 80%, rgb(7, 5, 13) 100%);
}

.content {
    margin: 20px auto;
    max-width: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #f3f3f3;
}

.moving-background {
    margin-top: 4%;
    position: relative;
    text-align: center;
    background-color: rgb(7, 1, 26);
    border-radius: 99rem;
    color: whitesmoke;
    width: 125%;
    overflow: hidden;
    padding: 5%;
    animation: pulsate 4s infinite ;
    box-shadow: 0 0 15px 5px var(--neon-color), 
                0 0 30px 15px var(--neon-glow);
    transition: box-shadow 0.3s ease;
}
.moving-background > h1 {
    position: relative;
    text-shadow: rgb(31, 100, 250) 0px 0px 13px;
    z-index: 2;
    font-size: 4rem;
    backdrop-filter: blur(0.75px);
    border-radius: 5px;
    transition: text-shadow 0.3s ease;
}

@keyframes pulsate {
    0%, 100% {
        box-shadow: 0 0 15px 5px var(--neon-color), 
                    0 0 30px 15px var(--neon-glow);
    }
    50% {
        box-shadow: 0 0 20px 8px rgba(47, 119, 231, 0.7), 
                    0 0 35px 18px rgba(47, 119, 231, 0.5);
    }
}

.scrolling-text, .blur-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.scrolling-text {
    font-size: 1rem;
    z-index: 1;
}

.blur-layer {
    background-color: rgba(0, 0, 0, 0.361);
    z-index: 8;
    backdrop-filter: blur(2px);
}

.code-snippet {
    position: absolute;
    font-family: monospace;
    font-size: larger;
    width: 100%;
    white-space: nowrap;
    animation: scroll-horizontal 10s linear infinite;
    text-shadow: 3px 3px 3px black;
}

@keyframes scroll-horizontal {
    0% {
        transform: translateX(120%);
    }
    100% {
        transform: translateX(-120%);
    }
}

.presentation {
    display: flex;
    margin-top: 5%;
    width: 125%;
    justify-content: center;
    transition: transform 0.3s ease, margin-top 0.3s ease;
}

.section {
    padding: 2%;
    overflow-wrap: break-word;
    transition: background 0.7s ease;
    border-radius: 15px;
}

.section h2 {
    text-align: center;
    margin: 0;
    font-size: 3rem;
    transition: font-size 0.3s ease;
}

.section p {
    text-align: left;
    line-height: 1.5;
    font-size: 1.5rem;
    transition: font-size 0.3s ease, line-height 0.3s ease;
}

.section_projects {
    margin-top: 5%;
    text-align: center;
    display: grid;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
    gap: 1%;
}

.project {
    background: var(--box-background);
    position: relative;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s, box-shadow 0.3s ease;
    overflow: hidden;
}

.project img, .project_preview {
    border-radius: 10px;
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: filter 0.6s ease, transform 0.2s ease;
}

.project_preview {
    filter: brightness(100%);
}

.project:hover {
    transform: scale(1.1);
    z-index: 10;
    box-shadow: 0 0 20px 5px rgba(108, 137, 211, 0.7), 
                0 0 10px 10px rgba(47, 6, 231, 0.7);
}

.project:hover .project_preview {
    filter: brightness(10%);
    transform: scale(1.05);
}

.project_text {
    position: absolute;
    font-size: larger;
    transition: opacity 0.45s ease, font-size 0.3s ease;
}

.project:hover .project_text {
    opacity: 1;
}

@media (min-width: 768px) {
    .presentation{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 5%;
        width: 125%;

    }

    .section {
        padding: 2%;
        overflow-wrap: break-word;
        transition: background 0.7s ease;
        border-radius: 15px;
    }

    .section h2 {
        font-size: 3rem;
        margin:0;
        text-align: center;
    }

    .section p {
        text-align: left;
        font-size: 1.5rem;
        line-height: 1.5;
    }
    .section:nth-child(1){
        margin-right: 5%;
    }

    .section:hover {
        background: rgba(0,0,0, 0.6);
    }

    .section_projects {
        margin-top: 5%;
        text-align: center;
        display: grid;
        width: 100%; 
        grid-template-areas: 
            'github projet1 projet1 projet1'
            'projet2 projet2 projet2 projet3';
        grid-template-columns: 2fr 1fr 1fr 2fr; 
        grid-template-rows: minmax(100px, 350px) minmax(100px, 350px); 
        gap: 1%; 
        justify-content: center;
        align-items: center;
        margin-bottom: 5%;
    }



    .github {
        grid-area: github;
        justify-self: start;
        align-self: center;
        height: 100%; 
    }

    .projet1 {
        grid-area: projet1;
        align-self: center;
        height: 100%;  
    }

    .projet2 {
        grid-area: projet2;
        align-self: center;
        object-fit: cover;
        height: 100%;  
    }

    .projet3 {
        grid-area: projet3;
        justify-self: end;
        align-self: center;
        height: 100%;  
    }

    .project {
        background: var(--box-background);
        position: relative;
        border: #f3f3f3;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        transition:  transform .2s,  box-shadow .3s ease;
    }

    .project img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
    }

    .project_preview {
        border-radius: 10px;
        overflow: hidden;
        filter: brightness(100%);
        transition: filter 0.6s ease;

    }
    .project:hover .project_preview {
        filter: brightness(10%);
    }

    .project_text{
        position: absolute;
        opacity: 0;
        transition: opacity .45s ease;
        font-size: larger;
    }

    .project_presentation{
        padding: 4%;

    }

    .project:hover .project_text{
        opacity: 1;
    }

    .project:hover {
        transform: scale(1.1);
        z-index: 10;
        box-shadow:0 0 20px 5px rgba(108, 137, 211, 0.7), 0 0 10px 10px rgba(47, 6, 231, 0.7), 0 0 10px 10px rgba(47, 6, 231, 0.7);
    }
}

@media (max-width: 768px) {
    .moving-background >h1{
        font-size: 2rem;
    }

    .presentation {
        flex-direction: column;
    }

    .section{
        background-color: rgba(0, 0, 0, 0.461);
        margin: 3%;
    }

    .section h2 {
        font-size: 2rem;
    }

    .section p {
        font-size: 1rem;
    }

    .section_projects {
        flex-direction: column;
        gap: 1.5rem;
    }

    .project_preview { 
        filter: brightness(30%);

    }


    .project_text {
        font-size: 1rem;
    }
    .projet2{
        padding:2%;
    }
    .projet3 {
        padding: 25%;
    }
}